            <div class="interests-container container-block">
                <h2 class="container-block-title">interests</h2>
                <ul class="list-unstyled interests-list">
				{{ range .Site.Params.interests.list }}
                    <li>{{ .interest }}</li>
				{{ end }}
                </ul>
            </div><!--//interests-->
