            <section class="section summary-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.summary.icon }}"></i>summary</h2>
                <div class="summary">
                    <p>{{ with .Site.Params.summary.summary }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//summary-->
            </section><!--//section-->
